*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Inter, sans-serif;
}

.navbar-parent{
    display: flex;
    justify-content: space-between;
   padding: 20px 60px;

}
.button{
    background-color: #1D4ED8;
    color:aliceblue;
    padding: 7px 15px;
    border-radius: 8px;
  
    cursor:pointer;
    transition: 0.3s ease;
}
    .button:hover{
        background-color: rgb(213, 26, 132);
        transition: translateY(-2px);
    }
    



.button{
    border:none;
    padding: 12px 24px;
}
 .navbar-parent ul{
    display: flex;
    gap:15px;
    margin-top: 10px;
    
    list-style: none;
 }
 .logo{
    margin-left:12px;
 }

 .navbar-parent ul li a{
    text-decoration: none;
    color:#575757
 }
 /* end navbar */

 .hero-section{
    display: flex;
    text-align: center;
    justify-content: center;
   
    height: 600px;
    background-size: cover;
    background-position: center;
   
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url("./assets/banner.jpg") ;
 }
 .hero-container{
    color: #fff; 
    max-width:650px;
 }
 .hero-container h1{
font-size: 55px;
margin-top:50px;
margin-bottom:18px;
 }

 .hero-container p{
    line-height: 27px;
    margin-bottom: 26px;
 }

 /* speacker section */
 .speakers-section{
    width:1140px;
    margin:100px auto;
}

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     gap: 24px;
  
}

.speaker-card img{
    width: 100%;
    display: block;
    
}

.category{
color:#1D4ED8;
font-size: 10px;
font-weight: 600;
text-transform: uppercase;
}

.speakers-section h1{
      font-size: 48px;
    font-weight: 700;
    text-align: center;
  margin-bottom: 70px;

}

.speaker-card{
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
}

/* pricing section */
.pricing-section{
    width:1140px;
    margin:100px auto;

}

.pricing-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
}

.pricing-card{
    border:1px solid #E5E7EB;
    border-radius:12px; 
    padding:32px;
    border: 2px solid rgb(25, 142, 220);
    color: #333333;
}
.pricing-heading{
text-align: center;
font-size: 45px;
font-weight: 650;
padding-bottom:10px ;

}

.pricing-p{
   text-align: center;
   margin-bottom: 50px;
}
.pricing-card button{
    display:block;
    margin:30px auto 0;
}

.card-btn{
   background-color: rgb(13, 6, 111);
   border-radius: 7px;
   color: antiquewhite;
} 
.last-card{
    background: none;
    color: #070101;
    border: 2px solid rgb(92, 7, 152);
  
}
/* pricing section end */

/* FAQ Section */

.faq-section{
    width:1140px;
    margin:100px auto;
}

.faq-section h2{
    text-align:center;
    font-size:45px;
    margin-bottom:15px;
}

.faq-subtitle{
    text-align:center;
    color:#6B7280;
    margin-bottom:50px;
}

.faq-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:24px;
}

.faq-card{
    border:2px solid #8737d1;
    border-radius:12px;
    padding:30px;
    box-shadow:0 4px 10px rgba(0,0,0,.05);
    /* background-color: #3c60c3; */
}

.faq-card h3{
    margin-bottom:15px;
    font-size:20px;
}

.faq-card p{
    color:#6B7280;
    line-height:28px;
}

/* Footer */

.footer{
    width:1140px;
    margin:100px auto 30px;
}

.footer-parent{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.footer-logo{
    font-size:32px;
    font-weight:700;
}

.social-icons{
    display:flex;
    gap:20px;
}

.social-icons img{
    width:28px;
}

.footer hr{
    border:none;
    border-top:1px solid #E5E7EB;
    margin-bottom:20px;
}

.copyright{
    text-align:center;
    color:#6B7280;
    background-color: #82ccfc;
    padding: 10px;
}

.speakers-section,
.pricing-section,
.faq-section,
.footer{
    width: 90%;
    max-width: 1140px;
    margin: 100px auto;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.12);
}